<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Teste</title>

    <!-- Bootstrap / CSS -->
    <link rel="stylesheet" href="../../../../Public/styles/custom-visualizar-teste.css">

</head>

<body>

    <!--Header-->
    <nav class="navbar navbar-expand-lg navbar-dark" id="header">
        <div class="container-fluid background-navbar">
            <a class="navbar-brand" href="#"><img src="../../../../Public/images/global/logo.svg" alt=""></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <img src="../../../../Public/images/global/navbar-button.svg" class="navbar-button">
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/home">Home</a>
                    <a class="nav-link" href="">Funcionário</a>
                    <a class="nav-link" href="/gerenciar_candidato">Candidatos</a>
                    <a class="nav-link" href="/gerenciar_vaga">Vagas</a>
                    <a class="nav-link active" href="/gerenciar_processo_seletivo">Processos Seletivos</a>
                    <a class="nav-link" href="/gerenciar_entrevista_candidato">Entrevistas</a>
                    <a class="nav-link" href="/gerar_relatorio">Relatórios</a>
                    <a class="nav-link" href="/usuario_sair">Sair</a>
                </div>
            </div>
        </div>
    </nav>

    <!--Page user-->
    <form action="/entrevista_candidato_marcar" method="post" id="formulario">
        <div class="container">
            <div class="title">
                <h1 class="title-1">Teste</h1>
            </div>

            <div class="row">
                <label for="test_Title" class="col-sm-2 form-label form-label-t-test">Título do Teste</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="test_Title" disabled placeholder="Recrutador de RH">
                </div>
            </div>

            <div class="row mb-3">
                <label for="test_Title" class="col-sm-2 form-label form-label-t-test">Nota do Teste</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="test_Title" disabled placeholder="100%">
                </div>
            </div>

            <hr />

            <div class="title">
                <h2 class="title-2">Perguntas</h2>
                <img src="../../../../Public/images/global/info.svg" onclick="Open('popup-info')">
            </div>

            <div class="questions" id="questions">
                <div id="question_1">
                    <div class="title">
                        <h2 class="title-2">1. <img src="../../../../Public/images/global/edit.svg" alt="edit"></h2>
                    </div>

                    <div class="row mb-3">
                        <label class="form-label">Título da Pergunta</label>
                        <div class="col-sm-12 mb-3">
                            <textarea type="text" class="form-control text-area" name="question_title_1" disabled
                                placeholder="Existe avaliação de desempenho? Ela realmente mensura e avalia resultados relacionados ao crescimento do negócio ou apenas competências comportamentais e/ou técnicas da função?"></textarea>
                        </div>
                    </div>

                    <div class="title">
                        <h2 class="title-2">Respostas</h2>
                    </div>

                    <div>
                        <div class="d-flex align-items-baseline">
                            <input class="check" type="radio" name="radio_question_1" value="">
                            <textarea type="text" class="form-control text-area" disabled
                                placeholder="Sim, existe avaliação de desempenho, mas não mensura os resutados relacionados ao crescimento do negócio, apenas competências comportamentais e/ou técnicas da função."></textarea>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-baseline">
                            <input class="check" type="radio" name="radio_question_1" value="">
                            <textarea type="text" class="form-control text-area correta" disabled
                                placeholder="Sim, existe avaliação de desempenho, e ela mensura os resultados relacionados ao crescimento do negócio, e competências comportamentais e/ou técnicas da função."></textarea>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-baseline">
                            <input class="check" type="radio" name="radio_question_1" value="">
                            <textarea type="text" class="form-control text-area" disabled
                                placeholder="Não, não existe avaliação de desempenho que possa mensurar e avaliar os resultados relacionados ao crescimento do negócio, nem mesmo competências comportamentais e/ou técnicas da função."></textarea>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-baseline">
                            <input class="check" type="radio" name="radio_question_1" value="">
                            <textarea type="text" class="form-control text-area" disabled
                                placeholder="Sim, existe avaliação de dedsempenho, ela mensura e avalia os resultados relacionados ao crescimento do negócio, mas não as competências comportamentais e/ou técnicas da função."></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons buttons-test">
                <button type="button" class="btn btn-outline-primary mb-5"
                    onclick="Open('popup-desistir')">Voltar</button>
            </div>
        </div>
    </form>

    <!--Footer-->
    <footer class="footer">
        <img src="../../../../Public/images/global/linkedin.svg" class="img-footer" onclick="">
        <img src="../../../../Public/images/global/facebook.svg" class="img-footer" onclick="">
        <img src="../../../../Public/images/global/email.svg" class="img-footer" onclick="">
        <label class="label-footer">+55 (15) 5555-5555</label>
    </footer>

    <!--Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>

    <script src="/scripts/general-scripts/pop-up.js"></script>
</body>

</html>