@import url(./bootstrap.min.css);
@import url(./custom-requisicao-de-vaga.css);
@import url(./global.css);

/*titles*/
.title{
    width: 80%;
}

/*images*/
.img-edit{
    width: 40px;
    margin: -10px 0 5px 5px;
    
}

/*forms*/
.form-control[name="comentario"]{
    color: #B8B8B8;
}

.form-control[name="comentario"]:focus{
    color: #212529;
}

.form-ident-left{
    margin-left: 3vw;
    margin-right: 2vw;
}

.form-ident-right{
    margin-left: 2vw;
    margin-right: 3vw;
}

.number{
    padding-left: 2vw;
}

.form-ident-middle{
    margin-right: 3vw;
    margin-left: 3vw;
}

/*buttons*/
.buttons-director{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 20px 20vw 10px 20vw;
}

.btn-aprovar{
    color: #222121;
    border: 2px solid #068521;
    border-radius: 0.50rem;
}

.btn-reprovar{
    color: #222121;
    border: 2px solid #b40009;
    border-radius: 0.50rem;
}

.btn-aprovar:hover{
    transform: scale(1.06);
    color: #f5f5f5;
    background-color: #068521;
    border-color: #068521;
}

.btn-reprovar:hover{
    transform: scale(1.06);
    color: #f5f5f5;
    background-color: #b40009;
    border-color: #b40009;
}

.btn-aprovar:focus, .btn-reprovar:focus, 
.btn-aprovar:focus:active, .btn-reprovar:focus:active{
    box-shadow: 0 0 0 0;
}

@media screen and (min-width:576px){
    /*forms*/
    .form-ident-left{
        margin-left: 2vw;
    }
    
    .form-ident-right{
        margin-right: 2vw;
    }
    
    .number{
        padding-left: 2.5vw;
    }
    
    .form-ident-middle{
        margin-right: 2vw;
        margin-left: 2vw;
    }


    /*buttons*/
    .buttons-director{
        justify-content: left;
        margin: 0;
    }

    .btn-reprovar{
        margin-left: 20px;
    }

    /*footer*/
    .footer{
        padding-left: 5vw;
        justify-content: left;
    }

    .img-footer{
        margin-right: 20px;
    }

    .label-footer{
        position: absolute;
        margin-left: 65vw;
    }
}

@media screen and (min-width:900px){
    /*forms*/
    .form-ident-left{
        margin-left: 1.5vw;
    }
    
    .form-ident-right{
        margin-right: 1.5vw;
    }

    .number{
        padding-left: 1.5vw;
    }

    .form-ident-middle{
        margin-right: 1.5vw;
        margin-left: 1.5vw;
    }
}

@media screen and (min-width:1250px){
    /*forms*/
    .form-ident-left{
        margin-left: 1vw;
    }
    
    .form-ident-right{
        margin-right: 1vw;
    }

    .number{
        padding-left: 1vw;
    }

    .form-ident-middle{
        margin-right: 1vw;
        margin-left: 1vw;
    }
}