@import url(./custom-login.css);

.login-content h1{
    margin-bottom: 25px;
}

.img-email{
padding-top: 5px;
}

.login-content{
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer{
    position: relative;
}