@import url(./custom-perfil.css);

/*parte de cima*/
.img-perfil{
    opacity: 0.68;
    cursor: pointer;
}

.btn-over{
    display: none;
}

.img-edit{
    width: 20%;
    margin: 12px 0 0 12px;
    cursor: pointer;
}

.img-edit-2{
    width: 9%;
    margin-bottom: 7px;
    cursor: pointer;
}

.img-edit-3{
    width: 40px;
    margin-bottom: -12px;
    margin-right: 85%;
    cursor: pointer;
}

.img-info{
    width: 8%;
    margin-bottom: 5px;
    cursor: pointer;
}

.img-info-2{
    width: 15px;
    margin-left: 5px;
    margin-top: -5px;
}

.names{
    width: 200px;
}

.sobre-area .title{
    margin-bottom: 0;
    margin-left: 3px;
}

.sobre-area .text-area{
    resize: none;
    height: 40px;
    margin-bottom: 20px;
}

.select{
    color: #f5f5f5;
    background-color: #7a2cb6;
    border-color: #7a2cb6;
}

.select:hover{
    transform: scale(1);
    cursor:auto;
}

.form-select{
    max-width: 340px;
}

#Exp .row, #Comp .row, #Form .row {
    margin-left: 0px;
}

.exp-label{
    margin-left: -10px;
}

/*parte de baixo*/
.asterisco, .asterisco-2, .descricao-edicao{
    color: red;
}

.asterisco{
    display: block;
    font-size: 30px;
    height: 5px;
    margin-right: 5px;
}

.descricao-edicao{
    font-size: 14px;
    margin-left: 14px;
}

.edit{
    color: #B8B8B8;
}

.edit:focus{
    color: #212529;
}

.dados .form-select{
    margin: 0;
}

.cl-exp-anos-experiencia{
    width: 60px;
}

@media screen and (min-width:576px){
    .sobre-area .text-area{
        margin-left: 0;
    }

    .dados .form-select{
        margin-left: 10px;
    }

    .row-img-names{
        padding-left: 10px;
    }

    #Exp .row, #Comp .row, #Form .row {
        margin-left: -10px;
    }

    .exp-label{
        margin-left: 0px;
    }
}

@media screen and (min-width:768px){
    .sobre-area .text-area{
        width: 45vw;
    }
}

@media screen and (min-width:1150px){
    .sobre-area .text-area{
        margin-left: 0;
    }
}