@import url(./custom-perfil.css);

/*parte de cima*/
.select{
    color: #f5f5f5;
    background-color: #7a2cb6;
    border-color: #7a2cb6;
}

.select:hover{
    transform: scale(1);
    cursor:auto;
}

/*parte de baixo*/
.instructions{
    cursor: pointer;
    width: 15px;
}

/*titles*/
.title{
    width: 90%;
    margin-bottom: 30px;
}

/*bars*/
.vaga-per-6{
    max-width: 6%;
}

.vaga-per-24{
    max-width: 28%;
}

.vaga-per-41{
    max-width: 50%;
}

.vaga-per-59{
    max-width: 72%;
}

.vaga-per-77{
    max-width: 100%;
}

.vagas{
    width: 106%;
    margin: 0 0 0 -12px;
}

.vaga-bar{
    height: 14px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.vaga-per-6, .vaga-per-24, .vaga-per-41, .vaga-per-59, .vaga-per-77, .vaga-per-94, .vaga-per-100{
    height: 13px;
    background-color: blueviolet;
    background: linear-gradient(to right, rgb(106, 22, 170) 50%, rgb(147, 75, 202));
    border-radius: 10px;
    position: relative;
    top: -1px;
    animation: fillBars 2.5s 1;
}

/*icon % bar*/
.vaga-per-6::before, .vaga-per-24::before, .vaga-per-41::before, .vaga-per-59::before,
.vaga-per-77::before, .vaga-per-94::before, .vaga-per-100::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: white;
    border-radius: 4px;
    font-size: 12px;
    top: -36px;
    right: 0;
    transform: translateX(50%);
    border: 1px solid black;
}

.vaga-per-100::before{
    right: 10px;
}

.vaga-per-6::after, .vaga-per-24::after, .vaga-per-41::after, .vaga-per-59::after,
.vaga-per-77::after, .vaga-per-94::after, .vaga-per-100::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    top: -13px;
    right: 0;
    transform: translateX(30%) rotate(45deg);
    border-radius: 2px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

/*parte escrita bar*/
.texts{
    display: flex;
    justify-content:space-between;
    margin: 15px -5px 0 -10px;
}

.text-box{
    position: relative;
    width: 55px;
    text-align: center;
    font-size: 11px;
    padding: 0;
}

.text-box::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    border-radius: 10px;
    background-color: black;
    top: -15px;
    left: 50%;
}

@keyframes fillBars {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/*buttons*/
.buttons-bar{
    width: 150px;
    margin: 0;
}

.buttons-bar .btn{
    padding-top: 1px;
    padding-bottom: 1px;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled{
    color: black;
}

@media screen and (min-width:576px){
    .vaga-per-6{
        max-width: 4%;
    }
    
    .vaga-per-24{
        max-width: 27%;
    }
    
    .vaga-per-41{
        max-width: 50%;
    }
    
    .vaga-per-59{
        max-width: 73%;
    }
    
    .vaga-per-77{
        max-width: 100%;
    }
}

@media screen and (min-width:700px){
    .vaga-per-6{
        max-width: 4%;
    }
    
    .vaga-per-24{
        max-width: 27%;
    }
    
    .vaga-per-41{
        max-width: 50%;
    }
    
    .vaga-per-59{
        max-width: 73%;
    }
    
    .vaga-per-77{
        max-width: 100%;
    }
}

@media screen and (min-width:900px){
    .vaga-per-6{
        max-width: 3%;
    }
    
    .vaga-per-24{
        max-width: 26%;
    }
    
    .vaga-per-41{
        max-width: 50%;
    }
    
    .vaga-per-59{
        max-width: 74%;
    }
    
    .vaga-per-77{
        max-width: 100%;
    }
}

@media screen and (min-width:1000px){
    .vaga-per-6{
        max-width: 2%;
    }
    
    .vaga-per-24{
        max-width: 26%;
    }
    
    .vaga-per-41{
        max-width: 50%;
    }
    
    .vaga-per-59{
        max-width: 74%;
    }
    
    .vaga-per-77{
        max-width: 100%;
    }
}

@media screen and (min-width:1250px){
    .vaga-per-6{
        max-width: 2%;
    }
    
    .vaga-per-24{
        max-width: 26%;
    }
    
    .vaga-per-41{
        max-width: 50%;
    }
    
    .vaga-per-59{
        max-width: 74%;
    }
    
    .vaga-per-77{
        max-width: 100%;
    }
}