@import url(./bootstrap.min.css);
@import url(./global.css);

/*forms*/
.container{
    height: 100vh;
}

.form-select{
    margin-left: 0px;
    margin-right: 11px;
    height: 23px;
    width: 140px;
    font-size: 15px;
    padding: 0 0 0 10px;
    color: #212529;
}

.form-select:focus{
    box-shadow: 0 0 5px #9a5ec9;
    border-color: #ced4da;
}

.form-label{
    width: 120px;
}

/*cards*/
.card{
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin-bottom: 15px;
    border: 1px solid #7a18c5;
    border-radius: 0px;
}

.card-body{
    margin: 7px 0 5px 7px;
    width: 85%;
    min-height: 94px;
    padding: 0;
}

.card-img{
    width: 120px;
    height: auto;
    border-right: 1px solid #7a18c5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.depto-engenharia-eletrica .card .card-img{
    background-image: url(../images/custom-requisicao-de-vaga/depto-engenharia-eletrica.jpeg);
} 

.depto-recursos-humanos .card .card-img{
    background-image: url(../images/custom-requisicao-de-vaga/depto-recursos-humanos.jpeg);
} 

.depto-financas .card .card-img{
    background-image: url(../images/custom-requisicao-de-vaga/depto-financas.jpeg);
}

.card-title{
    font-size: 22px;
}

.footer{
    position: relative;
}

.container{
    min-height: 100vh;
}

/*separação*/
hr{
    margin: 0 0 25px 0;
}

/*@media screens*/
@media screen and (min-width:576px){
    /*Forms*/
    .form-select{
        margin-top: -30px;
        margin-left: 120px;
    }

    /*cards*/
    .card-body{
        height: auto;
    }

    .card{
        min-width: 108px;
    }
}

@media screen and (min-width:770px){
    .card-body{
        min-height: 66px;
    }
}

@media screen and (min-width:900px){

}

@media screen and (min-width:1250px){

}