@import url(./custom-visualizar-candidato.css);

/*label e input*/

.title{
    margin-right: 0;
    width: 340px;
}

.info-container{
    padding: 0 10px 0 10px;
}

.label{
    width: 70px;
}

#colFormLabel{
    max-width: 150px;
    font-size: 12px;
}

.span{
    width: 10px;
    margin-right: 10px;
}

.input-1{
    margin-left: 15mm;
}

.graph-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#canvas{
    transform: scale(0.7);
    margin-left: -10px;
}

.Assunto, .Val{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);
}

.Assunto{
    padding: 5px 10px 5px 10px;
}

.Val{
    padding: 0 10px 0 10px;
}

.Cor1{
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
    background-color: green;
}

.Cor2{
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
    background-color: blue;
}

.Cor3{
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
    background-color: red;
}

.TB{
    border: 2px thin black;
}

.TB-Barras{
    margin-left: 5px;
    border: 2px thin black;
}

@media screen and (min-width:576px){
    .graph-container{
        justify-content: space-around;
    }

    .form-control{
        margin-left: 0;
    }

    .form-label{
        width: 230px;
    }

    .col-sm-10{
        width: 250px;
    }

    .graph-container{
        justify-content: left;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }

    .navbar-expand-lg .navbar-collapse {
        display: none!important;
    }
}

@media (min-width: 1250px){
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
}