@import url(./custom-relatorio-indicadores-desempenho.css);

/*title*/


/*inputs e labels*/

.info-container{
    padding: 0;
    margin-left: 10px;
}

.label{
    width: 130px;
}

.row{
    width: 99.9%;
}

.form-select{
    max-width: 205px;
}


/*table*/

.roxo{
    background-color: #8145A7;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #ffffff;
    color: white;
}

.cinza{
    background-color: #A69AB7;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #ffffff;
    color: white;
}

.TB{
    border: 1px solid black;
}

.cargo{
    margin-bottom: 10px;
}

@media screen and (min-width:420px){
    .roxo, .cinza{
        padding: 10px;
    }
}