@import url(./custom-requisicoes-de-vagas-aprovadas-e-reprovadas.css);

#divulgarDis{
    color: black;
    margin-left: 115px;
    margin-top: -87px;
}

#divulgar{
    margin-left: 115px;
    margin-top: -87px;
}

