@import url(./custom-visualizar-processo-seletivo.css);

hr{
    color: grey;
}

.form-select{
    max-width: 340px;
}

.text-area{
    height: 70px;
    resize: none;
    margin-left: 10px;
}

.title .title-2:last-child {
    margin-bottom: 0;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }

    .navbar-expand-lg .navbar-collapse {
        display: none!important;
    }
}

@media (min-width: 1072px){
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
}