@import url(./bootstrap.min.css);
@import url(./global.css);
@import url(./custom-visualizar-processo-seletivo.css);

.verde{
    border-color: green;
}

.vermelho{
    border-color: red;
}

.input-1{
    margin-left: 3mm;
    width: 150mm;
}

.textarea{
    margin-left: 3mm;
}

.atr{
    margin-right: 6mm;
}

.title-1{
    margin-left: 3mm;
}
