@import url(custom-perfil.css);

.title{
    width: 300px;
}

.container{
    min-height: 100vh;
}

.relatorio{
    width: 100%;
}

.text-relatorio-area{
    width: 100%;
}

.description{
    margin-left: 3px;
}

.text-relatorio{
    max-width: 700px;
    margin: 0;
    padding: 0;
}

.relatorio-img{
    width: 95px;
    padding: 3px 15px 3px 15px;
    border: 1px solid rgb(107, 105, 105);
}

.btn-view{
    margin-top: 5px;
    transform: scale(0.9);
}

@media screen and (min-width:992px){
    .text-relatorio{
        padding: 0 12px 0 12px;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }

    .navbar-expand-lg .navbar-collapse {
        display: none!important;
    }
}

@media (min-width: 1250px){
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
}