@import url(./bootstrap.min.css);
@import url(./global.css);

div #body{
    width: 100%;
    border: 1px solid gray;
    display: inline-block;
}

/*titles*/
.title{
    width: 80%;
    margin-left: 15mm;
}

.title-2{
    margin-left: 15mm;
}

/*buttons*/
.AreaCand{
    margin-left: 15mm;
    border-width: medium;
    border-style: solid;
    border-color: #7A18C5;
    border-radius: 15mm;
}

.Voltar{
    border-width: medium;
    border-style: solid;
    border-color: #7A18C5;
    border-radius: 15mm;
}

/*labels e selects*/
.col-sm-10{
    margin-left: 15mm;
}

.label{
    margin-left: 15mm;
}

/*textareas*/

.textarea{
    margin-left: 15mm;
}