@import url(./bootstrap.min.css);
@import url(./global.css);

.form-group{
    margin: 10px;
}
.card-link{
    border: 2px solid #7a18c5;
    border-radius: 10px;
    padding:5px;
    text-decoration: none;
    color: black;
    background-color: white;
}

.card{
    display: flex;
    flex-direction: row;
   
    margin: 20px;
    border: 2px solid #7a18c5;
    border-radius: 0px;
}

#registered{
    background-color: #7a18c5;
    color: white;
}

.card-link{
    border: 2px solid #7a18c5;
    border-radius: 10px;
    padding:5px;
    text-decoration: none;
    color: black;
    background-color: white;
}

.card-link:hover{
    background-color: #7a18c5;
    color: white;
}

.btn btn-outline-primary mb-5{
    margin: 10px;
    font-size: 5px;
}

small{
    color: gray;
}


[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    font: 16px;    
}


#non-registered{
    background-color:#7a18c5;
    color: white;
}
